// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom variables for colors
$white: #FFFFFF;
$black: #222222;
$grey-2: #717171;
$grey-1: #AAAAAA;
$kitchen-1: #D29A64;
$kitchen-2: #4C6D96;
$kitchen-green: #4C966A;
$kitchen-red: #DD4343;
