.dynamic-info {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: start;

  .icons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;

    font: {
      size: 15px;
    }

    i {
      color: $kitchen-1;
    }
  }

  p {
    margin: 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  .content-img {
    border-radius: 8px;
    background-image: url("kitchen_industrial");
    background-size: cover;
    background-position: 50%;
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  }

  .booking-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .booking-card {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.details-container {
  display: flex;
  gap: 42px;

  .details {
    flex: 2;
  }

  .booking-card {
    flex: 1;
  }
}
