<div class="container">
  <h1> All my Bookings </h1>
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <%= render 'bookings/card', booking: booking %>
    <% end %>
  <% else %>
    <p>You do not have any bookings yet.</p>
  <% end %>
</div>
