.container-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 15px;
  border: solid 1.5px #4C6D96;
}

.container-map img {
object-fit: cover;
border-radius: 8px;
}
