<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Andre's Kitchen</h2>
      <p>Beautiful space with all the equipment you need</p>
      <h3 class="card-trip-pricing">£99.99</h3>
    </div>
    <%= link_to "Book this Kitchen", "new", class: "card-trip-button" %>
    <%= link_to "⭐️ 4.58", "new", class: "card-trip-rating" %>
  </div>
</div>
