<h1>All Available Kitchens</h1>
<div class="container-index">
  <div class="container-kitchens">
    <% @kitchens.each do |k| %>
      <%= render 'layouts/card', k: k %>
    <% end %>
  </div>
  <div class="container-map">
    <div class= "geocode-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
