<div class="container-map">
  <div class= "geocode-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="container-grid">
  <div class="row">
    <% @kitchens.each do |k| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <%= render 'layouts/card-map', k: k %>
      </div>
    <% end %>
  </div>
</div>
